
/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 42rem) { /* 64rem large option */

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3232+0,aa0000+100 */
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    nav {
        background: linear-gradient(to bottom,  #6E604F 0%,#FFAA56 30%, #FFAA56 70%, #826A50 100%); 
        }
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2rem;
        }
        .m {
            font-size: 1.5em;
        }
        h3 {
            font-size: 1.5rem;
        }
        section img {
            display: visible;
            width: 800px;
            height: auto;
        }
        section {
            overflow: auto;
        }
        .map {
            /* float: left; */
        }
        .social {
            display: flex;
            flex-direction: row;
            align-content: space-between;
            /* float: clear; */
        }
        header, footer, nav {
            border-radius: 10px;
        }
        header img {
            width: 100%;
            height: auto;
        }
        .navigation {
            display: flex;
        }
        .navigation li {
            display: block; /* change state in small view */
            flex: 1 1 auto;
        }
        .navigation a {
            text-align: center;
        }
        .navigation li:first-child {
            display: none;
        }
}
    /* main {
        grid-template-columns: 1fr 1fr;
    } */
    /* main section:nth-child(2) {
        display: block;
    }

    main section:nth-child(3) {
        grid-column: span 2;
    } */

    /* nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; } */




